<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Nom-Burger</span>
  </div>
</nav>
<div class="container">
  
  <div class="row">
    
    <div class="d-flex justify-content-center">
      <form class="create-form">

          <div class="form-group m-2">
            <h3>Add a Burger:</h3>
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="burger_name">
          </div>

          <div class="form-group">
            <label for="devoury">Order or Eat now?</label><br>
            <input type="radio" name="devoury" value="1" checked> Order it!<br>
            <input type="radio" name="devoury" value="0"> Eat NOW!
          </div>

          <button class="btn btn-primary" type="submit">Add Burger</button>
        </form>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-6">
      <h2>Burgers ready to eat!</h2>
      <ol>
        {{#each burgers}}
          {{#if devoury}}
            {{> burgers/burger-block devour=false}}
          {{/if}}
        {{/each}}
      </ol>
    </div>
    
    <div class="col-6">
      <h2>Burgers eaten:</h2>
        <ol>
          {{#each burgers}}
            {{#unless devoury}}
              {{> burgers/burger-block devour=true}}
            {{/unless}}
          {{/each}}
        </ol>      
    </div>

  </div>
  
</div>









