<style>
body {
  background-image: url("pexels-tioroshi-lazaro-2874979.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-positon: center;
}
</style>
<nav class="navbar navbar-light bg-light" id="nav-div">
  <div class="container-fluid header-container">
    <span class="navbar-brand mb-0 h1">Nom-Burger</span>
  </div>
</nav>
<div class="container-fluid" id="body-div">
  
  <div class="row">
    <div class="col-4">
    </div>
    
    <div class="col-4">
      <div class="card m-3" id="add-burger-div">
        <div class="card-body text-center">
          <form class="create-form">
            <div class="form-group">
              <h3 class="card-title">Add a Burger:</h3>
              <label for="ca">Burger Name:</label>
              <input type="text" id="ca" name="burger_name">
            </div>

            <div class="form-group">
              <label for="devoury">Order or Eat now?</label><br>
              <input type="radio" name="devoury" value="1" checked> Order it!<br>
              <input type="radio" name="devoury" value="0"> Eat NOW!
            </div>

            <button class="btn btn-primary" type="submit">Add Burger</button>
          </form>
        </div>
        
      </div>
      
    </div>

    <div class="col-4">
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-6">
      <div class="card m-3" id="left-burger-div">
        <div class="card-body">
          <h2 class="card-title text-center">Burgers ready to eat!</h2>
            <ol>
              {{#each burgers}}
                {{#if devoury}}
                  {{> burgers/burger-block devour=false}}
                {{/if}}
              {{/each}}
            </ol>
        </div>
        
      </div>
      
    </div>
    
    <div class="col-6">
      <div class="card m-3" id="right-burger-div">
        <div class="card-body">
          <h2 class="card-title text-center">Burgers eaten:</h2>
          <ol>
            {{#each burgers}}
              {{#unless devoury}}
                {{> burgers/burger-block devour=true}}
              {{/unless}}
            {{/each}}
          </ol>
        </div>
        
      </div>  
              
    </div>

  </div>
  
</div>









