li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#nav-div {
  background-image: url("./public/assets/img/pexels-artem-beliaikin-617230.jpg")
}

#body-div {
  background-image: url("./public/assets/img/pexels-tioroshi-lazaro-2874979.jpg")
}
  