body, html, .container-fluid {
  height: 100%;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#add-burger-div, #left-burger-div, #right-burger-div {
  opacity: 0.9;
}


  